### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule webmaster-gis-web-development index.html 
RewriteRule who-am-i whoami.html
RewriteRule offer-webpage-development-www offer.html
RewriteRule cv-programmer-webmaster-javascript cv.html
RewriteRule contact-webmaster-gis contact.html