<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="webmaster-gis-web-development" ignoreCase="false" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="who-am-i" ignoreCase="false" />
                    <action type="Rewrite" url="whoami.html" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="offer-webpage-development-www" ignoreCase="false" />
                    <action type="Rewrite" url="offer.html" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="cv-programmer-webmaster-javascript" ignoreCase="false" />
                    <action type="Rewrite" url="cv.html" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="contact-webmaster-gis" ignoreCase="false" />
                    <action type="Rewrite" url="contact.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
